<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="saledb"
			 connectionString="data source=Jimmmmmm\MSSQLSERVER2022;initial catalog=saledb;user id=sa; password =Jim220605; encrypt=false;"
			 providerName="System.Data.SqlClient" />
	</connectionStrings>
</configuration>